<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button @click="vif = !vif">Toggle</button>
    <p v-if="vif">You either see me ...(v-if)</p>
    <p v-else>...or me (v-if)</p>
    <p v-show="vif">You either see me ... (v-show)</p>
    <p v-show="vif">...or me (v-show)</p>
  </div>
  <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
  <ul v-for="element in array">
    <li v-for="(value, index) in array">({{ index }}) {{ value }}</li>
  </ul>
  <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
  <ul v-for="(value, key, index) in myObject">
    <li>({{ index }}) {{ key }}: {{ value }}</li>
  </ul>
  <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
  <div v-for="(value) in testData">
      Value: {{ value }}
  <ul v-if="value = 'data'">
    <li v-for="arrayValue in testData.data">
    Value: {{ arrayValue }}
    </li>
  </ul>
  </div>
</div>

<script>
new Vue({
  el: '#exercise',
  data: {
    vif: true,
    array: ['Max', 'Anna', 'Chris', 'Manu'],
    myObject: {
      title: 'Lord of the Rings',
      author: 'J.R.R. Tolkiens',
      books: '3'
    },
    testData: {
      name: 'TESTOBJECT', 
      id: 10,
      data: [1.67, 1.33, 0.98, 2.21]
    }
  }
});
</script>
